/* menu.component.scss */
.top-bar {
  position: fixed; /* Fija la barra superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que el menú esté por encima del contenido */
  padding: 0 24px;
  height: 64px; /* Ajusta la altura de la barra */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Fondo blanco para el menú */
  transition: top 0.3s ease; /* Transición suave para el efecto de desvanecimiento */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-name {
  font-weight: bold;
  font-size: 18px;
  color: black; /* El texto de "QUESTI.ON" en negro */
}

.example-spacer {
  flex: 1;
}

.perfil-btn {
  background-color: #6caeda !important; /* Color azul para el botón de 'PERFIL' */
  color: white !important; /* Texto blanco en el botón de 'PERFIL' */
  &:hover {
    background-color: #6caeda; /* Un tono más oscuro al pasar el ratón */
  }
}

/* Clase que oculta el menú */
.hidden {
  top: -64px; /* Mueve el menú fuera de la pantalla cuando se hace scroll */
}
