* {
  padding:0;
  margin:0;
}
  .middle-zone {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  
    .info-dialog {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80%;
      width: 50%;
      color: #222422;
  
      .text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Alinea el contenido al inicio */
      justify-content: flex-start; /* Asegura que todo el contenido empuje hacia arriba */
      width: 60%;
      height: auto;
      padding-left: 20%;
  
      h1 {
        font-size: 1.9rem; /* Tamaño más grande para el encabezado */
        font-weight: bold;
        margin-bottom: 20px; /* Espaciado abajo del título */
        color: #484a4b;
      }

      p {
        font-size: 1rem; /* Coherencia en tamaño de letra */
        text-align: left; /* Alineación del texto a la izquierda */
        margin-bottom: 15px; /* Espaciado entre párrafos */
        line-height: 1.5; /* Mejora la legibilidad */
      }

      .boton-color {
        background-color: #6caeda;
        color: #ffffff;
        padding: 10px 20px;
        text-align: center;
        border-radius: 5px;
        margin-top: 20px; /* Añadido espacio superior */
      }
    
  }
    }
  
    .img-dialog {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 50%;
      
      img {
        height: 100%;
        width: 100%;
        object-fit: cover; 
      }
    }
  }

  .bottom-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-image: url('/assets/fondogris.png');

    .otro {
      display: flex;
      height: 55%;

      .stats {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        width: 33%;
        border-radius: 1rem;
        padding: 20;
      
      .aciertosfallos-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        background-color: #ffffff;  /* Fondo blanco */
        padding: 15px;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
      
        .aciertosfallos-icon {
          width: 50px;  /* Tamaño del círculo */
          height: 50px;  /* Tamaño del círculo */
          border-radius: 50%;  /* Hacer el círculo redondo */
          background-color: #4299e1;  /* Fondo azul */
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          
          i {
            color: #ffffff;  /* Color del icono (blanco) */
            font-size: 1.5rem;  /* Tamaño del icono */
          }
        }
      
        .aciertosfallos-text {
          max-width: 80%;  /* Controla el ancho máximo del texto */
          margin-top: 10px;
          margin-bottom: 20px;
      
          h1 {
            text-align: center;  /* Centra el título */
            font-size: 1.25rem;
            margin: 10px 0;
          }
      
          p {
            text-align: justify;  /* Justifica el párrafo */
            font-size: 1rem;
            color: #555555;
            margin: 0;
          }
        }
      }
    }

    .info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      width: 33%;
      border-radius: 1rem;
      padding: 20;
    
    .aciertosfallos-tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60%;
      background-color: #ffffff;  /* Fondo blanco */
      padding: 15px;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    
      .aciertosfallos-icon {
        width: 50px;  /* Tamaño del círculo */
        height: 50px;  /* Tamaño del círculo */
        border-radius: 50%;  /* Hacer el círculo redondo */
        background-color: #4299e1;  /* Fondo azul */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
        i {
          color: #ffffff;  /* Color del icono (blanco) */
          font-size: 1.5rem;  /* Tamaño del icono */
        }
      }
    
      .aciertosfallos-text {
        max-width: 80%;  /* Controla el ancho máximo del texto */
        margin-top: 10px;
        margin-bottom: 20px;
    
        h1 {
          text-align: center;  /* Centra el título */
          font-size: 1.25rem;
          margin: 10px 0;
        }
    
        p {
          text-align: justify;  /* Justifica el párrafo */
          font-size: 1rem;
          color: #555555;
          margin: 0;
        }
      }
    }
  }

    .nose {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      width: 33%;
      border-radius: 1rem;
      padding: 20;
    
    .aciertosfallos-tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60%;
      background-color: #ffffff;  /* Fondo blanco */
      padding: 15px;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    
      .aciertosfallos-icon {
        width: 50px;  /* Tamaño del círculo */
        height: 50px;  /* Tamaño del círculo */
        border-radius: 50%;  /* Hacer el círculo redondo */
        background-color: #4299e1;  /* Fondo azul */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
        i {
          color: #ffffff;  /* Color del icono (blanco) */
          font-size: 1.5rem;  /* Tamaño del icono */
        }
      }
    
      .aciertosfallos-text {
        max-width: 80%;  /* Controla el ancho máximo del texto */
        margin-top: 10px;
        margin-bottom: 20px;
    
        h1 {
          text-align: center;  /* Centra el título */
          font-size: 1.25rem;
          margin: 10px 0;
        }
    
        p {
          text-align: justify;  /* Justifica el párrafo */
          font-size: 1rem;
          color: #555555;
          margin: 0;
        }
      }
    }
  }
    }

          
    }

    .footer {
      padding-top: 30px;
      height: 25vh;
      width: 100%;
      background-color: #2c3748;
      color: #f1f1f1;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
      p {
        margin: 5px 0;
        font-size: 1rem;
      }
    
      .social-icons {
        margin: 10px 0;
        font-size: 1.5rem;
        i {
          margin: 0 10px;
          cursor: pointer;
        }
      }
    
      .separator {
        width: 90%;  /* Ajusta el porcentaje según el tamaño que desees */
        height: 1px;  /* Altura de la línea */
        background-color: #ffffff;  /* Color de la línea */
        margin-bottom: 15px;  /* Espacio debajo de la línea */
      }
    }
    
    /* Opcional: Estilo para los iconos de Font Awesome */
    .fab {
      color: #f1f1f1;
      transition: color 0.3s ease;
    
      &:hover {
        color: #4299e1;
      }
    }
    
    




