<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>


<div class="first-back">

  <div class="middle-zone">
    <div class="info-dialog">
      <div class="text-content">
        <h1>¡PRUEBA TUS CONOCIMIENTOS!</h1>
        <p class="intro-text">
          Desafíate con una serie de preguntas relacionadas con la categoría de tu elección.
          La inteligencia artificial generará preguntas en tiempo real para que pongas a prueba tus conocimientos.
        </p>
        <a mat-button mat-raised-button class="mat-button boton-color" (click)="openDialog()">
          <span>COMENZAR PARTIDA</span>
        </a>
      </div>
    </div>

    <div class="img-dialog">
      <img src="assets/1.png" alt="Imagen de ejemplo">
    </div>
  </div>

  <div class="bottom-zone">

    <div class="otro">
      <div class="stats">
        <div class="aciertosfallos-tab">
          <div class="aciertosfallos-icon">
            <i class="fas fa-chart-line"></i>  <!-- Icono de gráficas -->
          </div>
          <div class="aciertosfallos-text">
            <h1>Accede a las estadísticas</h1>
            <p>Visualiza tu progreso a raíz de una serie de gráficos personalizados generados a partir de los resultados de tus diferentes partidas jugadas, en el apartado de estadísticas en tu perfil.</p>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="aciertosfallos-tab">
          <div class="aciertosfallos-icon">
            <i class="fas fa-question"></i>  <!-- Icono de gráficas -->
          </div>
          <div class="aciertosfallos-text">
            <h1>Trabaja con la IA</h1>
            <p>Recuerda que las preguntas son generadas por una Inteligencia Artificial, cuanto mas especifico seas con la categoría mejores preguntas recibiras. Las preguntas pueden contener errores.</p>
          </div>
        </div>
      </div>

      <div class="nose">
        <div class="aciertosfallos-tab">
          <div class="aciertosfallos-icon">
            <i class="fas fa-user"></i>  <!-- Icono de gráficas -->
          </div>
          <div class="aciertosfallos-text">
            <h1>Perfil de usuario</h1>
            <p>Accede a tu perfil para ver tu información personal y modificar tu contraseña y lo deseas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="separator"></div>
    <div class="social-icons">
      <i class="fab fa-github"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-twitter"></i>
    </div>
    <p>&copy; 2025</p>
  </div>


</div>




