<div class="profile-container">
  
  <div class="back"></div>

  <mat-card class="stats-card">
    
    <div class="stats-title">
      <h3>ESTADÍSTICAS GENERALES</h3>
    </div>

    <div class="graficas">
      <app-statsroom></app-statsroom>
    </div>
  </mat-card>

  <mat-card class="profile-card">
    <div class="profile-header">
      <div class="profile-photo">
        <img src="assets/images/people.png" />
      </div>
    </div>
    
    <div class="profile-info">
      <h2 class="username">Jenna Stones</h2>
      <p class="location">Los Angeles, California</p>
      <p class="job-title">Solution Manager - Creative Tim Officer</p>
      <p class="education">University of Computer Science</p>
      <p class="bio">
        An artist of considerable range, Jenna the name taken by Melbourne-raised, Brooklyn-based Nick Murphy
        writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure.
        An artist of considerable range.
      </p>
      <button mat-raised-button color="primary" class="connect-btn">Connect</button>
    </div>
  </mat-card>
</div>
