<div class="register">
  <div class="register-title">
    <mat-card-title>Partida Personalizada</mat-card-title>
    <mat-card-subtitle>Introduce la información de la partida</mat-card-subtitle>
  </div>

  <form [formGroup]="gameForm" (ngSubmit)="startGame()">
    <div class="form-container">
      <!-- Categoría -->
      <div class="input-container">
        <p>Categoría</p>
        <mat-form-field appearance="outline" style="width: 100%">
          <input
            matInput
            placeholder="Categoría"
            formControlName="category"
            autocomplete="off"
          />
          <mat-error *ngIf="gameForm.get('category')?.invalid">
            {{ getErrorMessage('category') }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Número de preguntas -->
      <div class="input-container">
        <p>Número de preguntas</p>
        <mat-form-field appearance="outline" style="width: 100%">
          <input
            matInput
            type="number"
            placeholder="Número de preguntas"
            formControlName="numQuestions"
          />
          <mat-error *ngIf="gameForm.get('numQuestions')?.invalid">
            {{ getErrorMessage('numQuestions') }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Dificultad -->
      <div class="input-container">
        <p>Dificultad</p>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Escoge una opción</mat-label>
          <mat-select formControlName="dificultad">
            <mat-option value="facil">Fácil</mat-option>
            <mat-option value="media">Media</mat-option>
            <mat-option value="dificil">Difícil</mat-option>
          </mat-select>
          <mat-error *ngIf="gameForm.get('dificultad')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Tipo de partida -->
      <div class="input-container">
        <p>Tipo de partida</p>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Escoge una opción</mat-label>
          <mat-select formControlName="numAnswers">
            <mat-option value="VERDADERO_FALSO">
              Verdadero/Falso
            </mat-option>
            <mat-option value="CUATRO_RESPUESTAS">
              Elección múltiple (4 respuestas)
            </mat-option>
          </mat-select>
          <mat-error *ngIf="gameForm.get('numAnswers')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="register-button-container">
      <button
        mat-raised-button
        type="submit"
        [disabled]="gameForm.invalid"
      >
        COMENZAR
      </button>
    </div>
  </form>
</div>
