:host {
    display: block;
    min-height: 100vh; /* Mínimo altura igual a la del viewport */
    background-color: #ffffff;
    background-size:cover; /* La imagen se expande para cubrir todo el contenedor */
  }

.loading-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/assets/gameroom.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading-message {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
  }
