  <div class="header-section">
    <div class="back-content">
      <h1>ESTADÍSTICAS GENERALES</h1>
    </div>

    <div class="info-cards">
      <mat-card class="info-card">
          <div class="card-text">
            <div class="value">{{ totalGames }}</div>
            <div class="label">RESPUESTAS</div>
        </div>
      </mat-card>
      <mat-card class="info-card">
          <div class="card-text">
            <div class="value">{{ totalSuccesses }}</div>
            <div class="label">ACIERTOS</div>
        </div>
      </mat-card>
      <mat-card class="info-card">
          <div class="card-text">
            <div class="value">{{ totalFailures }}</div>
            <div class="label">FALLOS</div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="middle-zone">
    <app-stats [data]="difficultyStatsData" [title]="'ACIERTOS Y FALLOS POR DIFICULTAD'" [chartType]="'difficulty'"></app-stats>
    <app-stats [data]="gameMothStatsData" [title]="'PARTIDAS JUGADAS POR MES'" [chartType]="'games'"></app-stats>
    <app-stats [data]="mothStatsData" [title]="'ACIERTOS Y FALLOS POR MES'" [chartType]="'month'"></app-stats>
  </div>

  <div class="otro">
  </div>













