<div class="body">
    <div class="register">
      <div class="register-right">
          <mat-card>
              <div class="register-title">
                <mat-card-title> Registro realizado correctamente! </mat-card-title>
              </div>
              <hr>
              
              <mat-card-content>
                <div class="register-button-container">
                  <button mat-raised-button routerLink="/login">Iniciar Sesión</button>
                </div>
              </mat-card-content>
            </mat-card>
      </div>
    </div>
  </div>
  